<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= survey._id %>"
                    >
                    <input type="hidden" class="form-control"
                        id="surveyTextField"
                        placeholder="Enter the Title"
                        name="Title" 
                        value="<%= survey.Title %>"
                        required>
                    <!-- A hidden input to hold a value for if-else statements at the bottom of this template -->
                    <input type="hidden"
                        name="title"
                        value="<%= title %>"
                    >
                </div>
                <br />
                <div class="form-group">
                    <label for="surveyTextField">Questions</label>
                    <input type="text" class="form-control"
                        id="surveyTextField"
                        placeholder="Enter the Questions"
                        name="Questions" 
                        >
                </div>
                <br />
                <br />
                <label for="surveyTextField">Choices</label>
                <div id="divChoices" class="form-group">
                    <input type="text" class="form-control"
                        id="surveyTextField"
                        placeholder="Enter the Questions"
                        name="Choices"
                        value=""
                        >
                    <!-- Since the maximum number of choices is 10, -->
                    <!-- Generate left 9 textboxes and make those invisible -->
                    <!-- to avoid re-rendering this page and lose all the user inputs -->
                    <% for(let i = 0; i < 9; i++) { %>
                        <input type="text" class="form-control"
                        id="surveyTextField"
                        placeholder="Enter the Questions"
                        name="Choices"
                        value=""
                        style="display: none;"
                        >
                    <% } %>
                </div>
                <br />
                <button id="btn_addChoice" class="btn btn-primary" type="button">
                    Add a choice
                </button>
                <br />
                <br />
                <br />
                <!-- When the user not came here by clicking on the edit button, this button will be showed up -->
                <% if (title != 'Edit Survey') { %>
                <button class="btn btn-primary" type="submit" name="btn" value="next">
                    <i class="fas fa-edit"></i> 
                    Next Question
                </button>
                <% } %>
                <!-- Send the data in the form to process an adding Q & C procedure -->
                <!-- It performs an action almost the same as Next Quesiton button -->
                <!-- The only difference is Done button redirect the user to the list -->
                <!-- while Next Quesiton button redirect the user to the add_question page -->
                <button class="btn btn-primary" type="submit" name="btn" value="done">
                    <i class="fas fa-edit"></i> 
                    Done
                </button>
                <!-- Redirect the user to the edit page -->
                <% if (title == 'Edit Survey') { %>
                    <a href="/surveys/edit/<%= survey._id %>" class="btn btn-warning" type="submit">
                        <i class="fas fa-undo"></i> 
                        Cancel
                    </a>
                <% } else { %>
                <!-- Redirect the user to the survey list -->
                <button class="btn btn-warning" type="submit" name="btn" value="cancel">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </button>
                <% } %>
                
            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>